body {
    background-image: url("https://wallpaper-house.com/data/out/8/wallpaper2you_235197.jpg")
}
h1 {
    font-family: monospace, monaco;
    text-align: center;
    background-color: black;
    color: white;
    box-shadow: 12px 10px 15px 5px rgba(0,0,0,0.58);
}
.states {
    background-color: black;
    color: white
}
.state-dropdown {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
}
.stats-table {
    font-family: monospace, monaco;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
}
form#comment-form {
    display: block;
    text-align: center;
    width: 200px;
    border: 5px solid grey;
    padding: 30px;
    margin: auto;
    background-color: rgb(56,56,56);
    box-shadow: 12px 10px 15px 5px rgba(0,0,0,0.58)
}
#comment-list {
    font-family: monospace, monaco;
    text-align: center;
    list-style-type: none;
    color: white;
    box-shadow: 12px 10px 15px 5px rgba(0,0,0,0.58);
    padding-right: 30px;
}
.top-table {
    padding: 20px;
    font-style: bold;
    background-color: rgb(67, 90, 99);
    text-align: center;
    box-shadow: 12px 10px 15px 5px rgba(0,0,0,0.58);
    color: white;
}
#date {
    font-family: monospace, monaco;
    text-align: center;
    padding-bottom: 30px;
    font-size: larger;
    color: rgb(202, 202, 202)
}
#flag {
    width: auto;
    height: 300px;
}
#flagContainer {
    display: block;
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#commentTitle {
    font-family: monospace, monaco;
    color: white;
    background-color: black;
    padding: 5px
}